<% content_for :titulo do %>
  <span>
    Detalhes
  </span>
<% end %>
<%= render "category" %>
<div class="flex gap-3">
  <%= link_to "Editar", edit_category_path(@category), class: botoes_laranja %>
  <%= button_to "Deletar", @category, data: { confirm: "Você tem certeza?", turbo_confirm: "Você tem certeza?" }, method: :delete , class: botoes_vermelhos %>
  <%= link_to "Voltar", categories_path, class: botoes_azuis %>
</div>
