<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
      }

      h1 {
        color: #333333;
      }

      p {
        color: #666666;
      }

      a {
        color: #007bff;
        text-decoration: none;
      }
      table {
        border-collapse: collapse;
        width: 100%;
      }

      th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      th {
        font-weight: bold;
      }

      strong {
        font-weight: bold;
      }
      
      span {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
